<style>
.form-control {
display: block;
width: 100%;
height: calc((1.5em + .75rem) + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
}

.btn{
display: inline-block;
justify-content: right;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
margin-top: 1em;
}

.btn-primary {
color: #fff;
background-color: #007bff;
border-color: #007bff;
}

</style>

<div class="container pb-6 pb-md-10">
      <form action="https://api.slapform.com/your@email.com" method="POST">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <h1 class="mt-5">Contact Form</h1>
                <p class="lead">Ask any qustion, and we will ancwer you!</p>
              </div>
              <div class="form-group">
                <label>Your Email</label>
                <input name="slap_replyto" type="text" class="form-control" placeholder="your@email.com">
              </div>
              <div class="form-group">
                <label>Your Message</label>
                <textarea name="message" type="textarea" class="form-control" placeholder="Message..." id=""></textarea>
              </div>
              <button type="submit" class="button">Submit</button>
            </div>
          </div>
        </div>
      </form>

</div>