<nav class="nav-primary">
    <ul class="nav__group">
    <li>
    <a href="https://ia.net/design">
    <b>Design</b>
    </a>
    </li>
    <li>
    <a href="/topics/newsite">
    News </a>
    </li>
    <li>
    <a href="https://ia.net/design/blog">
    Blog </a>
    </li>
    <li>
    <a href="/design/about-us">
    About Us </a>
    </li>
    </ul>
    <ul class="nav__group">
    <li>
    <a href="https://ia.net/writer">
    <b>iA Writer</b>
    </a>
    </li>
    <li>
    <a href="https://ia.net/writer/whats-new">
    Updates </a>
    </li>
    <li>
    <a href="/writer/features">
    Features </a>
    </li>
    <li>
    <a href="https://ia.net/writer/support">
    Support </a>
    </li>
    </ul>
    <ul class="nav__group">
    <li>
    <a href="https://ia.net/downloads">
    <b>Downloads</b>
    </a>
    </li>
    <li>
    <a href="/downloads#apps">
    Apps </a>
    </li>
    <li>
    <a href="/downloads#templates">
    Templates </a>
    </li>
    <li>
    <a href="/downloads#fonts">
    Fonts </a>
    </li>
    </ul>
    <ul class="nav__group">
    <li>
    <a href="https://ia.net/subscribe">
    <b>Subscribe</b>
    </a>
    </li>
    <li>
    <a href="/subscribe#tweets">
    Twitter </a>
    </li>
    <li>
    <a href="/subscribe#newsletter">
    Newsletter </a>
    </li>
    <li>
    <a href="/feed">
    RSS </a>
    </li>
    </ul>
    <address class="nav__group"><a href="https://ia.net/zurich">
    <b>Zurich</b>
    <br>
    Flüelastrasse 10
    <br>
    8048 Zurich
    <br>
    Switzerland</a>
    </address>
    <address class="nav__group"><a href="https://ia.net/tokyo">
    <b>Tokyo</b>
    <br>
    Azurobakuro 4F
    <br>
    103-0002 東京都
    <br>
    中央区日本橋馬喰町1-5-15</a>
    </address>
    </nav>