<style>
.form-control {
display: block;
width: 100%;
height: calc((1.5em + .75rem) + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
}

.btn{
display: inline-block;
justify-content: right;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
margin-top: 1em;
}

.btn-primary {
color: #fff;
background-color: #007bff;
border-color: #007bff;
}

.column {
  float: left;
  max-width: 33%;
  flex: 0 0 33.3333333333%;
}

.myrow{
  padding-top: 20px;
  justify-content: space-between;
  margin: auto;
  display: flex;
}

.grid-container {
  padding-top: 20px;
  display: grid;
  grid-gap: 3.5rem 2rem;
  grid-template-columns: auto auto auto;
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

.grid-item{
  /*
  grid-row-start: 1;
  grid-row-end: 3;
  */
  padding-right: 10px;
  padding-top: 10px;
}
/* Clear floats after the columns */


</style>
<!--
<div class="container pb-6 pb-md-10">
      <form action="https://api.slapform.com/your@email.com" method="POST">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <h1 class="mt-5">Contact Form</h1>
                <p class="lead">Ask any qustion, and we will ancwer you!</p>
              </div>
              <div class="form-group">
                <label>Your Email</label>
                <input name="slap_replyto" type="text" class="form-control" placeholder="your@email.com">
              </div>
              <div class="form-group">
                <label>Your Message</label>
                <textarea name="message" type="textarea" class="form-control" placeholder="Message..." id=""></textarea>
              </div>
              <button type="submit" class="button">Submit</button>
            </div>
          </div>
        </div>
      </form>
</div>
-->


<div class="container pt-6 pb-md-10">
  <h1 class="title">Contact us</h1>
  You can contact via main email <strong><a href="mailto:{{ .site.data.contact.email }}">{{ site.data.contact.email }}</a></strong>, or call direct to one of our offices:
<!--
<div class="myrow">
  <div class="column"><div><b>Budapest</b></div><div>Hungary</div><div>hu@fortunawood.com</div><div>+1 455 24 24</div></div>
  <div class="column"><div><b>Rome</b></div><div>Italy</div><div>it@fortunawood.com</div><div>+1 455 24 24</div></div>
  <div class="column"><div><b>Munich</b></div><div>Germany</div><div>ge@fortunawood.com</div><div>+1 455 24 24</div></div>
</div>

<div class="myrow">
  <div class="column"><div><b>Paris</b></div><div>France</div><div>fr@fortunawood.com</div><div>+1 455 24 24</div></div>
  <div class="column"><div><b>HollCity</b></div><div>Holland</div><div>ho@fortunawood.com</div><div>+1 455 24 24</div></div>
  <div class="column"><div><b>BelgCity</b></div><div>Belgium</div><div>be@fortunawood.com</div><div>+1 455 24 24</div></div>
</div>
-->

<div class="grid-container">
  <div class="grid-item"><div><b>Budapest</b></div><div>Hungary</div>   <div><a href="hu@fortunawood.com">hu@fortunawood.com</a></div>  <div><a href="tel:+1 455 24 24">+1 455 24 24</a></div>  </div>
  <div class="grid-item"><div><b>Rome</b></div><div>Italy</div>         <div><a href="it@fortunawood.com">it@fortunawood.com</a></div>  <div><a href="tel:+1 455 24 24">+1 455 24 24</a></div>  </div>
  <div class="grid-item"><div><b>Munich</b></div><div>Germany</div>     <div><a href="ge@fortunawood.com">ge@fortunawood.com</a></div>  <div><a href="tel:+1 455 24 24">+1 455 24 24</a></div>  </div>
  <div class="grid-item"><div><b>Paris</b></div><div>France</div>       <div><a href="fr@fortunawood.com">fr@fortunawood.com</a></div>  <div><a href="tel:+1 455 24 24">+1 455 24 24</a></div>  </div>
  <div class="grid-item"><div><b>HollCity</b></div><div>Holland</div>   <div><a href="ho@fortunawood.com">ho@fortunawood.com</a></div>  <div><a href="tel:+1 455 24 24">+1 455 24 24</a></div>  </div>
  <div class="grid-item"><div><b>BelgCity</b></div><div>Belgium</div>   <div><a href="be@fortunawood.com">be@fortunawood.com</a></div>  <div><a href="tel:+1 455 24 24">+1 455 24 24</a></div>  </div>
</div>

</div>