<head>
    <meta charset="utf-8">
    <title>Fortunawood</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
    <link rel="canonical" href="https://www.fortomorrow.eu/en/home">
    <link rel="alternate" type="application/rss+xml" title="Blog" href="https://www.fortomorrow.eu/feed-en.xml"/>
    <meta property="og:type" content="article">
    <meta property="og:title" content="Live carbon neutral today">
    <meta name="twitter:title" content="Live carbon neutral today">
    <meta name="description" content="With reliable climate protection in Europe">
    <meta property="og:description" content="With reliable climate protection in Europe">
    <meta name="twitter:description" content="With reliable climate protection in Europe">
    <meta property="og:url" content="https://www.fortomorrow.eu/en/home">
    <meta name="twitter:url" content="https://www.fortomorrow.eu/en/home">
    <meta property="og:site_name" content="Fortunawood">
    <meta property="og:locale" content="en"/>
    <meta property="article:published_time" content="2021-03-18T14:52:58+01:00">
    <meta property="article:author" content="https://www.facebook.com/fortomorrow.eu">
    <meta property="og:image" name="image" content="https://www.fortomorrow.eu/generated/assets/common/img/preview/open-graph-1200-00aed0700.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    <meta property="og:image" name="image" content="https://www.fortomorrow.eu/generated/assets/common/img/preview/open-graph-400-00aed0700.jpg">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Fortunawood">
    <meta name="twitter:creator" content="@Fortunawood">
    <meta name="twitter:image" content="https://www.fortomorrow.eu/generated/assets/common/img/preview/twitter-1024-4cc9fc2fd.jpg">
    <link rel="icon" type="image/png" href="/assets/common/img/favicon/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/common/img/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/common/img/favicon/favicon-48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/assets/common/img/favicon/favicon-72.png" sizes="72x72">
    <link rel="icon" type="image/png" href="/assets/common/img/favicon/favicon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/common/img/favicon/touch-icon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/assets/common/img/favicon/touch-icon-256.png" sizes="256x256">
    <link rel="apple-touch-icon" href="/assets/common/img/favicon/touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/common/img/favicon/touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/common/img/favicon/touch-icon-167.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/assets/common/img/favicon/touch-icon-192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/common/img/favicon/touch-icon-180.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/assets/common/img/favicon/touch-icon-512.png">
    <meta name="theme-color" content="#263959">
    <meta name="msapplication-navbutton-color" content="#263959">
    <meta name="apple-mobile-web-app-status-bar-style" content="#263959">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ForTomorrow">
    <meta name="supported-color-schemes" content="light">
    <link rel="alternate" hreflang="de" href="https://www.fortomorrow.eu/">
    <link rel="stylesheet" href="/fortunawood/assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,600&display=swap" rel="stylesheet">
</head>
