<nav aria-labelledby="primary-navigation" class=" pos-relative width-100percent max-width-content padding-top-s-expanding z-nav page-header--home width-100percent padding-x-content no-print">
    <div class=" page-header__inner pos-relative width-100percent f-column f-align-start ">
        <h2 id="primary-navigation" class="screen-reader-only">Primary navigation</h2>
        <a href="/en/home" class=" button logo logo--home d-block min-height-button text-decoration-none " title="Home">
            <span class="strong">Fortuna</span>Wood
        </a>
        <ul class=" page-header__menu page-header__menu--home margin-top-0 ">
            <li class=" page-header__menu-item text-align-center list-style-none ">
                <a href="/en/about" class=" page-header__menu-link button d-block min-height-button text-decoration-none ">About </a>
            </li>
            <li class=" page-header__menu-item text-align-center list-style-none ">
                <a href="/en/how-it-works" class=" page-header__menu-link button d-block min-height-button text-decoration-none ">Products </a>
            </li>
            <li class=" page-header__menu-item text-align-center list-style-none ">
                <a href="/en/how-it-works" class=" page-header__menu-link button d-block min-height-button text-decoration-none ">Blog </a>
            </li>
            <li class=" page-header__menu-item text-align-center list-style-none ">
                <a href="/en/how-it-works" class=" page-header__menu-link button d-block min-height-button text-decoration-none ">Contacts </a>
            </li>
            <li class=" page-header__menu-item text-align-center list-style-none ">
                <a href="/en/climate-subscriptions" class=" button--secondary button d-block min-height-button text-decoration-none ">Callback </a>
            </li>
        </ul>

        <div class="languages-menu">
            <input aria-label="Show languages menu" type="checkbox" id="languages-menu__input" class="languages-menu__input d-none">
            <label for="languages-menu__input" title="Show languages menu" class=" button button--has-icon pos-absolute top-0 right-0 languages-menu__toggle languages-menu__toggle--home">
                <svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"/>
                    <path d="M2 12h20"/>
                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"/>
                </svg>
            </label>
            <ul class="languages-menu__list d-block">
                <li class="list-style-none margin-0">
                    <a class="button languages-menu__link d-block padding-x-m" lang="de" href="/" title="German" onclick="onNavigateLanguage(event)">Deutsch</a>
                </li>
            </ul>
        </div>
    </div>
</nav>