.call {
  position: relative;
  overflow: hidden;
  background-color: $white-offset;
  border-radius: 8px;
  box-shadow: 0 0.18rem 0.25rem -0.5rem rgba(18,20,22,0.2), 0 0.54rem 1.44rem -0.5rem rgba(0,0,0,0.2), 0 0.44rem 1.78rem -4rem rgba(18,20,22,0.1);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
  @include media-breakpoint-up(sm) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .call-box-top {
    flex: auto;
    padding: 20px;
    @include media-breakpoint-up(md) {
    }
  }
  .call-box-bottom {
    flex: auto;
    padding: 20px;
    border-top: 1px solid darken($white-offset, 5%);
    @include media-breakpoint-up(sm) {
      flex: auto;
      border: none;
    }
  }
  .call-name {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .call-phone {
    margin-bottom: 5px;
  }
  .call-email {
    a {
      color: $black;
    }
  }
  strong {
    font-weight: bold;
  }
  svg {
    fill: lighten($secondary, 40%);
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 100px;
    height: 100px;
    @include media-breakpoint-up(sm) {
      width: 120px;
      height: 120px;
    }
  }
}
